<!-- src/templates/base.html -->
<!DOCTYPE html>
<html lang="es" hx-boost="true" hx-ext="class-tools">
  <body class="bg-gradient-to-br from-blue-950 via-slate-950 to-black animate-backgroundScroll text-white">

  {% include "includes/head.html" %}

  <body x-data class="bg-white text-gray-900 antialiased">

    {% include "components/navbar.html" %}

    <!-- Bloque de contenido dinámico -->
    <main id="main-content">
      {% block content %}{% endblock %}
    </main>

    {% include "components/footer.html" %}

    <!-- AOS init -->
    <script>
      AOS.init();
    </script>

    <!-- HTMX: Loading indicator (opcional si querés mostrar carga) -->
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-Requested-With'] = 'XMLHttpRequest'
      });
    </script>
  </body>
</html>
